.tabs-container {
    margin-bottom: 1rem;
    position: relative;

    .tabs {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    h2 {
        transition: color 300ms ease;
        margin: 0.5rem;
        cursor: pointer;
    }

    hr {
        position: absolute;
        border: 1px solid #4c5faa;
        background-color: #4c5faa;
        transform: translateX(-50%);
        transition: all 500ms cubic-bezier(.56,-1.15,.41,2);
    }
}

@media screen and (max-width: 430px) {
    .tabs-container {
        h2 {
            font-size: 1.2rem;
        }
    }
}