.apply-container {
    h4 {
        margin-bottom: 0.6rem;
    }

    form {
        display: flex;
        flex-direction: column;

        .radio-container {
            &:nth-child(3),
            &:last-of-type {
                margin-bottom: 0.5rem;
            }

            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 0.3rem;

            label {
                cursor: pointer;
                flex-grow: 1;
            }

            input {
                cursor: pointer;
            }
        }
    }
}