<div class="main-container">
    <h1>The Forum</h1>
    <app-tabs (tabChanged)="setTab($event)" [tabs]="tabs"></app-tabs>
    <div class="loading-spinner" *ngIf="loading">
        <app-loading-spinner ></app-loading-spinner>
    </div>
    <ng-container *ngIf="tabSelected.selector === 'conferences'">
        <app-conference [countries]="countries"></app-conference>
      </ng-container>
    <ng-container *ngIf="tabSelected.selector === 'sessions'">
        <app-session [sessions]="sessions"></app-session>
    </ng-container>
</div>
