.main-container {
    max-width: 70rem;
    margin: 0 auto;
    padding: 1.5rem;

    h1 {
        padding-bottom: 1rem;
    }

    .tabs-container {
        margin-bottom: 1rem;
        position: relative;

        .tabs {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        h2 {
            transition: all 300ms ease;
            margin: 0.5rem;
            cursor: pointer;
        }

        hr {
            position: absolute;
            border: 1px solid #CD2037;
            background-color: #CD2037;
            transform: translateX(-50%);
            transition: all 300ms ease;
        }
    }
}