.training-tile {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 0.7rem;
    overflow: hidden;
    transition: box-shadow 300ms ease;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    &:hover {
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    }

    .image {
        background-position: center;
        background-size: cover;
        background-position: 50% 0;
        height: 100%;
        width: 100%;
    }

    .text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        background-color: #EBEBEB;
        width: 100%;
        padding: 0.3rem 1rem;

        .svg-arrow {
            width: 1.5rem;
            fill: #CD2037;
        }
    }
}