.main-container {
    max-width: 70rem;
    margin: 0 auto;
    padding-top: 1.5rem;

    h1 {
        padding-bottom: 1rem;
    }

    h2 {
        padding-bottom: 0.8rem;
        padding-left: 1.5rem;
    }

    .inner-container {
        max-width: 63rem;
        margin: 0 auto;

        .details {
            max-width: 60rem;
            margin: 0 auto;
        }

        h3 {
            padding-bottom: 0.6rem;
        }

        h4 {
            padding-bottom: 0.4rem;
        }

        video {
            width: 70%;
        }
    }
}