<div class="main-container">
  <h1>The Leadership Academy</h1>
  <h2>Conferences</h2>
  <div class="inner-container">
    <div *ngFor="let conference of conferences">
      <h3>{{ conference.country }}</h3>
      <div class="details">
        <h3>{{ conference.date.toLocaleDateString('en-US') }}</h3>
        <h4>Videos</h4>
        <app-video-carousel [conference]="conference"></app-video-carousel>
        <h4>Downloads</h4>
        <app-expansion-panel class="expansion-panel-outer" [data]="conference.teachingMaterials" [header]="'Teaching material'"></app-expansion-panel>
      </div>
    </div>
  </div>
</div>
