.main-container {
    max-width: 70rem;
    margin: 0 auto;
    padding: 1.5rem;
    min-height: calc(100vh - 72px - 130px);

    &::after {
        content: "";
        background: no-repeat url(https://res.cloudinary.com/djkyfcfl1/image/upload/v1666942817/leadership_clarity/febalogo_p9wpsk.png);
        background-size: 1150px 1000px;
        background-position: right -10rem top 10rem;
        background-attachment: fixed;
        opacity: 0.2;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
    }

    h1 {
        padding-bottom: 1rem;
    }
}

.loading-spinner {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2, h3 {
    font-family: engravers mt, Arial;
}

@media screen and (max-width: 430px) {
    .main-container {
        h1 {
            font-size: 1.5rem;
        }
    }
}

@media screen and (max-width: 600px) {
    .main-container {
        &::after {
            background-size: 700px 650px;
            background-position: right -20rem top 5rem;
        }
    }
}