<div class="modal">
    <div class="header">
      <h3>{{ modalService.title }}</h3>
      <svg (click)="!loading ? modalService.closeModal() : ''" #close xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
          <path d="M5.72 5.72a.75.75 0 011.06 0L12 10.94l5.22-5.22a.75.75 0 111.06 1.06L13.06 12l5.22 5.22a.75.75 0 11-1.06 1.06L12 13.06l-5.22 5.22a.75.75 0 01-1.06-1.06L10.94 12 5.72 6.78a.75.75 0 010-1.06z"></path>
      </svg>
    </div>
    <div class="body">
      <div class="sign-up-container">
        <form [formGroup]="signUpForm" (ngSubmit)="submit()">
          <div class="input-container">
            <input formControlName="email" type="text" placeholder="Email" class="text-input">
            <ng-container *ngIf="signUpForm.get('email')?.touched">
              <span
                class="validation-error"
                *ngIf="signUpForm.get('email')?.hasError('required')"
              >
                Email required
              </span>
              <span
                class="validation-error"
                *ngIf="signUpForm.get('email')?.hasError('email')"
              >
                Email invalid
              </span>
            </ng-container>
          </div>
          <div class="input-container">
            <input formControlName="password" type="password" placeholder="Password" class="text-input">
            <ng-container *ngIf="signUpForm.get('password')?.touched">
              <span
                class="validation-error"
                *ngIf="signUpForm.get('password')?.hasError('required')"
              >
                Password required
              </span>
              <span
                class="validation-error"
                *ngIf="signUpForm.get('password')?.hasError('emailAlreadyInUse')"
              >
                Email already in use
              </span>
            </ng-container>
          </div>
          <button class="btn submit-btn" type="submit">
            <app-loading-spinner *ngIf="loading"></app-loading-spinner>
            <span *ngIf="!loading">Submit</span>
          </button>
        </form>
      </div>
    </div>
  </div>
  