<footer class="footer">
    <div class="img-container">
        <img class="logo-img" src="https://res.cloudinary.com/djkyfcfl1/image/upload/v1662392099/leadership_clarity/FEBC_Logo_Black_h8isky.jpg" alt="febc_logo">
        <img class="logo-img" src="https://res.cloudinary.com/djkyfcfl1/image/upload/v1662392099/leadership_clarity/feba_english_logo_ch0ara.jpg" alt="feba_sa_logo">
    </div>
    <div class="contact-container">
        <p><span>Phone:</span> 123 456 7890</p>
        <p><a href="https://febaradio.co.za">FEBA Radio SA Website:</a></p>
        <p><a href="https://www.febc.org">FEBC Website:</a></p>
        <p><span>Email:</span> jurie@kainosvgk.co.za</p>
    </div>
</footer>
