<div class="navbar-container">
    <div class="navbar">
        <div class="logos-container">
            <img class="logo-img" src="https://res.cloudinary.com/djkyfcfl1/image/upload/v1662392099/leadership_clarity/FEBC_Logo_Black_h8isky.jpg" alt="febc_logo">
            <img class="logo-img" src="https://res.cloudinary.com/djkyfcfl1/image/upload/v1662392099/leadership_clarity/feba_english_logo_ch0ara.jpg" alt="feba_sa_logo">
        </div>
        <div class="nav-links">
            <nav>
                <span [routerLink]="['/leadership-academy']">Leadership Academy</span>
                <span [routerLink]="['/the-forum']">The Forum</span>
                <span [routerLink]="['/pauline-leadership-training']">Pauline Leadership Training</span>
                <span [routerLink]="['/']" routerLinkActive="active">Home</span>
                <span [routerLink]="['/admin']">Admin</span>
            </nav>
            <div class="btn">Logout</div>
            <div class="btn">Login</div>
        </div>
    </div>
</div>
