<div class="modal">
    <div class="header">
        <h3>{{ modalService.title }}</h3>
        <svg (click)="modalService.closeModal()" #close xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
            <path d="M5.72 5.72a.75.75 0 011.06 0L12 10.94l5.22-5.22a.75.75 0 111.06 1.06L13.06 12l5.22 5.22a.75.75 0 11-1.06 1.06L12 13.06l-5.22 5.22a.75.75 0 01-1.06-1.06L10.94 12 5.72 6.78a.75.75 0 010-1.06z"></path>
        </svg>
    </div>
    <div class="body">
      <div class="add-conferences-container">
        <form [formGroup]="addCountryForm" (ngSubmit)="onSubmit()">
          <div class="input-container">
            <input formControlName="country" type="text" placeholder="Country" class="text-input">
            <ng-container *ngIf="addCountryForm.get('country')?.touched">
              <span
                class="validation-error"
                *ngIf="addCountryForm.get('country')?.hasError('required')"
              >
                Country required
              </span>
              <span
                class="validation-error"
                *ngIf="addCountryForm.get('country')?.hasError('exists')"
              >
                Country already exists
              </span>
            </ng-container>
          </div>
          <button class="btn add-btn" type="submit">
            <app-loading-spinner *ngIf="loading"></app-loading-spinner>
            <span *ngIf="!loading">Save</span>
          </button>
        </form>
      </div>
    </div>
  </div>
  
