<div class="main-container">
    <h1>Admin Panel</h1>
    <app-tabs [tabs]="tabs"></app-tabs>
    <div class="inner-container">
        <div class="resource-container">
            <router-outlet></router-outlet>
        </div>
        <div class="application-container">
            <h2>Applications</h2>
            <div class="search-container">
                <input type="text" class="text-input" placeholder="Search by email...">
                <button class="btn">Search</button>
            </div>
            <app-expansion-panel *ngFor="let application of applications" [application]="application" [header]="application.email"></app-expansion-panel>
            <app-loading-spinner *ngIf="loadingApplications"></app-loading-spinner>
        </div>
    </div>
</div>