.main-container {
    max-width: 88rem;
    margin: 0 auto;
    padding: 1.5rem;

    h1 {
        padding-bottom: 1rem;
    }
    
    .inner-container {
        padding: 1rem 2rem;
        display: flex;
        align-items: flex-start;

        .resource-container {
            width: 70%;
            padding-right: 8rem;
        }

        .application-container {
            width: 30%;

            .load-more {
                margin: 0 auto;
                background-color: transparent;
                min-width: 7rem;

                app-loading-spinner {
                    padding: 0 !important;
                }
            }

            h2 {
                margin-bottom: 1rem;
            }

            app-loading-spinner {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 3rem;
            }

            .search-container {
                display: flex;
                margin-bottom: 0.8rem;

                input {
                    margin-right: 0.6rem;
                    margin-bottom: 0;
                    flex: 6;
                }

                button {
                    flex: 1;
                }
            }
        }
    }
}