<div class="modal">
  <div class="header">
      <h3>{{ modalService.title }}</h3>
      <svg (click)="!loading ? modalService.closeModal() : ''" #close xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
          <path d="M5.72 5.72a.75.75 0 011.06 0L12 10.94l5.22-5.22a.75.75 0 111.06 1.06L13.06 12l5.22 5.22a.75.75 0 11-1.06 1.06L12 13.06l-5.22 5.22a.75.75 0 01-1.06-1.06L10.94 12 5.72 6.78a.75.75 0 010-1.06z"></path>
      </svg>
  </div>
  <div class="body">
    <div class="apply-container">
      <h3>Choose your program</h3>
      <form [formGroup]="applyForm" (ngSubmit)="onSubmit()">
          <div class="radio-container">
              <label class="training-type" for="forum">The Forum</label>
              <input type="radio" id="forum" value="The Forum" formControlName="program">
          </div>
          <div class="radio-container">
              <label class="training-type" for="leadership-academy">FEBC Intl. Leadership Academy</label>
              <input type="radio" id="leadership-academy" value="FEBC Intl. Leadership Academy" formControlName="program">
          </div>
          <div class="radio-container">
              <label class="training-type" for="pauline">Pauline Leadership Training</label>
              <input type="radio" id="pauline" value="Pauline Leadership Training" formControlName="program">
              <ng-container *ngIf="applyForm.get('country')?.touched">
                <span
                      class="validation-error already-enrolled"
                      *ngIf="applyForm.get('program')?.hasError('alreadyEnrolled')"
                    >
                      You are already enrolled for this program
                </span>
              </ng-container>
          </div>
          <div class="input-container">
            <input formControlName="firstName" class="text-input" type="text" placeholder="First name">
            <ng-container *ngIf="applyForm.get('firstName')?.touched">
              <span
                class="validation-error"
                *ngIf="applyForm.get('firstName')?.hasError('required')"
              >
                First name required
              </span>
            </ng-container>
          </div>
          <div class="input-container">
            <input formControlName="lastName" class="text-input" type="text" placeholder="Last name">
            <ng-container *ngIf="applyForm.get('lastName')?.touched">
              <span
                class="validation-error"
                *ngIf="applyForm.get('lastName')?.hasError('required')"
              >
                Last name required
              </span>
            </ng-container>
          </div>
          <div class="input-container">
            <input formControlName="country" class="text-input" type="text" placeholder="Country">
            <ng-container *ngIf="applyForm.get('country')?.touched">
              <span
                class="validation-error"
                *ngIf="applyForm.get('country')?.hasError('required')"
              >
                Country required
              </span>
            </ng-container>
          </div>
          <div class="radio-container">
              <label for="private">Private</label>
              <input type="radio" id="private" value="Private" formControlName="affiliation">
          </div>
          <div class="radio-container">
              <label for="organization">Organization</label>
              <input type="radio" id="organization" value="Organization" formControlName="affiliation">
          </div>
          <button class="btn" type="submit">
            <app-loading-spinner *ngIf="loading"></app-loading-spinner>
            <span *ngIf="!loading">Submit</span>
          </button>
      </form>
    </div>  
  </div>
</div>