.apply-container {
    h3 {
        margin-bottom: 0.6rem;
    }

    form {
        display: flex;
        flex-direction: column;

        .already-enrolled {
            bottom: -0.8rem;
        }

        .radio-container {
            &:nth-child(2),
            &:last-of-type {
                margin-bottom: 1rem;
            }

            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 0.3rem;

            label {
                cursor: pointer;
                flex-grow: 1;
            }

            input {
                cursor: pointer;
            }

            .training-type {
                font-weight: bold;
            }
        }

        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}