<div *ngIf="modalService.modalVisible" #overlay class="overlay" (click)="closeModal($event)" [@overlayFadeInOut]>
    <div [ngSwitch]="modalService.title.toLocaleLowerCase()">
        <div [@modalFadeIn] *ngSwitchCase="'reset password'">
            <app-password-reset></app-password-reset>
        </div>
        <div [@modalFadeIn] *ngSwitchCase="'reset password request'">
            <app-password-reset-request></app-password-reset-request>
        </div>
        <div [@modalFadeIn] *ngSwitchCase="'login'">
            <app-login></app-login>
        </div>
        <div [@modalFadeIn] *ngSwitchCase="'apply'">
            <app-apply></app-apply>
        </div>
    </div>
</div>
