<div *ngIf="modalService.modalVisible" #overlay class="overlay" [@overlayFadeInOut]>
    <div [ngSwitch]="modalService.title.toLocaleLowerCase()">
        <div [@modalFadeIn] *ngSwitchCase="'sign up'">
            <app-sign-up></app-sign-up>
        </div>
        <div [@modalFadeIn] *ngSwitchCase="'sign up success'">
            <app-sign-up-success></app-sign-up-success>
        </div>
        <div [@modalFadeIn] *ngSwitchCase="'sign up failed'">
            <app-sign-up-fail></app-sign-up-fail>
        </div>
        <div [@modalFadeIn] *ngSwitchCase="'request password reset'">
            <app-password-reset-request></app-password-reset-request>
        </div>
        <div [@modalFadeIn] *ngSwitchCase="'login'">
            <app-login></app-login>
        </div>
        <div [@modalFadeIn] *ngSwitchCase="'apply'">
            <app-apply></app-apply>
        </div>
        <div [@modalFadeIn] *ngSwitchCase="'add country'">
            <app-add-country></app-add-country>
        </div>
        <div [@modalFadeIn] *ngSwitchCase="'add session'">
            <app-add-session></app-add-session>
        </div>
        <div [@modalFadeIn] *ngSwitchCase="'add images'">
            <app-add-images></app-add-images>
        </div>
        <div [@modalFadeIn] *ngSwitchCase="'add teaching material'">
            <app-add-teaching-material></app-add-teaching-material>
        </div>
        <div [@modalFadeIn] *ngSwitchCase="'add video'">
            <app-add-video></app-add-video>
        </div>
        <div [@modalFadeIn] *ngSwitchCase="'confirm delete'">
            <app-delete-confirmation></app-delete-confirmation>
        </div>
        <div [@modalFadeIn] *ngSwitchCase="'accept application'">
            <app-accept-application></app-accept-application>
        </div>
        <div [@modalFadeIn] *ngSwitchCase="'reject application'">
            <app-reject-application></app-reject-application>
        </div>
        <div [@modalFadeIn] *ngSwitchCase="'application successful'">
            <app-application-success></app-application-success>
        </div>
        <div [@modalFadeIn] *ngSwitchCase="'application failed'">
            <app-application-failed></app-application-failed>
        </div>
        <div [@modalFadeIn] *ngSwitchCase="'add conference'">
            <app-add-conference></app-add-conference>
        </div>
    </div>
</div>
