<div #carouselContainer class="carousel-container">
    <div class="left-arrow" (click)="prevVideo()">
        <svg width="24px" height="24px" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
            <path fill-rule="evenodd" d="M8.72 18.78a.75.75 0 001.06 0l6.25-6.25a.75.75 0 000-1.06L9.78 5.22a.75.75 0 00-1.06 1.06L14.44 12l-5.72 5.72a.75.75 0 000 1.06z"></path>
        </svg>
    </div>
    <div class="right-arrow" (click)="nextVideo()">
        <svg width="24px" height="24px" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
            <path fill-rule="evenodd" d="M8.72 18.78a.75.75 0 001.06 0l6.25-6.25a.75.75 0 000-1.06L9.78 5.22a.75.75 0 00-1.06 1.06L14.44 12l-5.72 5.72a.75.75 0 000 1.06z"></path>
        </svg>
    </div>
    <div #carousel class="carousel">
        <div class="video-container" *ngFor="let video of videos">
            <h4 class="title">{{ video.title }}</h4>
            <video #video src="{{ video.URL }}" controls></video>
        </div>
    </div>
</div>
