.carousel-container {
    margin-bottom: 2rem;
    max-width: 46rem;
    height: 26rem;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;

    .left-arrow,
    .right-arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        cursor: pointer;
        z-index: 1;
        border-radius: 50%;
        background-color: #ebebeb96;
    }

    .left-arrow {
        transform: translateY(-50%) scale(1.8) rotate(180deg);
        left: 1rem;
    }

    .right-arrow {
        transform: translateY(-50%) scale(1.8);
        right: 1rem;
    }

    .carousel {
        background-color: #EBEBEB;
        height: 100%;
        white-space: nowrap;
        overflow: hidden;
        scroll-snap-type: x mandatory;
    
        .video-container {
            width: 100%;
            height: 100%;
            display: inline-block;
            scroll-snap-align: start;
            position: relative;

            .title {
                position: absolute;
                top: 10px;
                left: 15px;
                background-color: #ebebeb96;
                border-radius: 0.5rem;
                padding: 0.1rem 0.3rem;
            }

            video {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media screen and (max-width: 520px) {
    .carousel-container {
        height: 14rem !important;
    }
}