.reject-application-container {
    display: flex;
    flex-direction: column;

    h3 {
        margin-bottom: 2rem;
    }

    .actions {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .confirm-btn {
            width: calc(50% - 8px);
        }

        .cancel-btn {
            &:hover {
                box-shadow: 0 0 10px #36363663;
            }

            width: calc(50% - 8px);
            border-color: #363636;
            color: #363636;
        }
    }
}