<div class="navbar-container">
    <div class="navbar">
        <div class="logos-container">
            <img class="logo-img" src="https://res.cloudinary.com/djkyfcfl1/image/upload/v1662392099/leadership_clarity/FEBC_Logo_Black_h8isky.jpg" alt="febc_logo">
            <img class="logo-img" src="https://res.cloudinary.com/djkyfcfl1/image/upload/v1662392099/leadership_clarity/feba_english_logo_ch0ara.jpg" alt="feba_sa_logo">
        </div>
        <div class="nav-links">
            <nav>
                <span [routerLink]="['/']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
                    Home
                </span>
                <span [ngClass]="{ 'disabled': isEnrolled('leadership-academy') }" [routerLink]="['/leadership-academy']" routerLinkActive="active-link">
                    FEBC Intl. Leadership Academy
                </span>
                <span [ngClass]="{ 'disabled': isEnrolled('the-forum') }" [routerLink]="['/the-forum']" routerLinkActive="active-link">
                    The Forum
                </span>
                <span [ngClass]="{ 'disabled': isEnrolled('pauline-leadership') }" [routerLink]="['/pauline-leadership']" routerLinkActive="active-link">
                    Pauline Leadership Training
                </span>
                <span *ngIf="authService.isLoggedIn && authService.currentUser?.isAdmin" [routerLink]="['/admin/the-forum']" routerLinkActive="active-link">
                    Admin Panel
                </span>
            </nav>
            <button *ngIf="authService.isLoggedIn" class="btn" (click)="logout()">Logout</button>
            <button *ngIf="!authService.isLoggedIn" class="btn" (click)="modalService.openModal('Login')">Login</button>
            <div *ngIf="authService.isLoggedIn" class="user-profile" (click)="openDetails()">
                <h3>{{ authService.currentUser?.email.slice(0, 1).toUpperCase() }}</h3>
                <div #details class="details" (click)="modalService.openModal('Request password reset')">
                    <span>Reset password</span>
                </div>
            </div>
        </div>
    </div>
</div>
