<div class="modal">
    <div class="header">
        <h3>{{ modalService.title }}</h3>
        <svg (click)="modalService.closeModal()" #close xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
            <path d="M5.72 5.72a.75.75 0 011.06 0L12 10.94l5.22-5.22a.75.75 0 111.06 1.06L13.06 12l5.22 5.22a.75.75 0 11-1.06 1.06L12 13.06l-5.22 5.22a.75.75 0 01-1.06-1.06L10.94 12 5.72 6.78a.75.75 0 010-1.06z"></path>
        </svg>
    </div>
    <div class="body">
      <div class="add-video-container">
        <form [formGroup]="addVideoForm" (ngSubmit)="onSubmit()">

          <div class="input-container">
            <input formControlName="title" type="text" placeholder="Title" class="text-input">
            <ng-container *ngIf="addVideoForm.get('title')?.touched">
              <span
                class="validation-error"
                *ngIf="addVideoForm.get('title')?.hasError('required')"
              >
                Title required
              </span>
            </ng-container>
          </div>

          <div class="input-container">
            <input formControlName="video" type="file" placeholder="Video" class="text-input" (change)="setVideo($event)">
            <ng-container *ngIf="addVideoForm.get('video')?.touched">
              <span
                class="validation-error"
                *ngIf="addVideoForm.get('video')?.hasError('required')"
              >
                Video required
              </span>
              <span
                class="validation-error"
                *ngIf="addVideoForm.get('video')?.hasError('exists')"
              >
                Video with this name already exists
              </span>
            </ng-container>
          </div>

          <button class="btn add-btn" type="submit">
            <span *ngIf="loading">{{ uploadPercent | async | number: '1.0-0' }}%</span>
            <span *ngIf="!loading">Save</span>
          </button>
        </form>
      </div>
    </div>
  </div>
  
