<div class="modal">
  <div class="header">
      <h3>{{ modalService.title }}</h3>
      <svg (click)="modalService.closeModal()" #close xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
          <path d="M5.72 5.72a.75.75 0 011.06 0L12 10.94l5.22-5.22a.75.75 0 111.06 1.06L13.06 12l5.22 5.22a.75.75 0 11-1.06 1.06L12 13.06l-5.22 5.22a.75.75 0 01-1.06-1.06L10.94 12 5.72 6.78a.75.75 0 010-1.06z"></path>
      </svg>
  </div>
  <div class="body">
    <div class="login-container">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="input-container">
          <input formControlName="email" type="text" placeholder="Email" class="text-input">
          <ng-container *ngIf="loginForm.get('email')?.touched">
            <span
              class="validation-error"
              *ngIf="loginForm.get('email')?.hasError('required')"
            >
              Email required
            </span>
            <span
              class="validation-error"
              *ngIf="loginForm.get('email')?.hasError('email')"
            >
              Email invalid
            </span>
          </ng-container>
        </div>
        <div class="input-container">
          <input formControlName="password" type="password" placeholder="Password" class="text-input">
          <ng-container *ngIf="loginForm.get('password')?.touched">
            <span
              class="validation-error"
              *ngIf="loginForm.get('password')?.hasError('required')"
            >
              Password required
            </span>
            <span
              class="validation-error"
              *ngIf="loginForm.get('password')?.hasError('incorrectPassword')"
            >
              Incorrect password or email
            </span>
          </ng-container>
        </div>
        <button class="btn login-btn" type="submit">
          <app-loading-spinner *ngIf="loading"></app-loading-spinner>
          <span *ngIf="!loading">Log in</span>
        </button>
        <div class="no-account">
          <h4>Don't have an account?</h4>
          <button class="btn" (click)="modalService.openModal('Apply')">Apply</button>
        </div>
        <div class="password-reset">
          <h4>Forgot password?</h4>
          <button class="btn" (click)="modalService.openModal('Request password reset')">Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>
