.login-container {
    form {
        display: flex;
        flex-direction: column;
    
        .login-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-bottom: 0.8rem;
        }

        .no-account {
            margin-bottom: 0.4rem;
        }
    
        .no-account,
        .password-reset {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h4 {
                width: 65%;
            }

            button {
                width: 35%;
            }
        }
    }
}