<footer class="footer">
    <div class="img-container">
        <img class="logo-img" src="https://res.cloudinary.com/djkyfcfl1/image/upload/v1666945601/leadership_clarity/FEBC-logo_p4xfsw.jpg" alt="febc_logo">
        <img class="logo-img" src="https://res.cloudinary.com/djkyfcfl1/image/upload/v1666945601/leadership_clarity/FEBA-logo_azy1cy.jpg" alt="feba_sa_logo">
    </div>
    <div class="contact-container">
        <p><a href="https://febaradio.co.za" target="_blank">FEBA Radio SA Website</a></p>
        <p><a href="https://www.febc.org" target="_blank">FEBC Website</a></p>
        <p><span>Email:</span> jvermeulen@febaradio.co.za</p>
    </div>
</footer>
