.loading-spinner:after {
    content: "";
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    border: 0.15rem solid #CD2037;
    border-color: #CD2037 transparent #CD2037 transparent;
    animation: spin 1000ms linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
  