<div>
    <section class="home-background" style.background-image="url('{{ backgroundImageURL }}')">
        <h1>Leadership Clarity Program</h1>
        <div class="training-tile-container">
            <app-training-tile *ngFor="let tile of trainingTiles" [tile]="tile"></app-training-tile>
        </div>
    </section>
    <section class="pauline-section">
        <h2>Pauline Leadership Model</h2>
        <div class="details">
            <div class="content">
                <h3>Context</h3>
                <p>Paul’s first-century context had certain well-developed institutions, each with its own leadership structures. These institutions presented Paul with a rich tapestry of leadership content which he seemingly freely borrowed from in developing his own leadership thinking. We will also take a deeper dive into the dynamic relationship that exists between leaders and their contexts.</p>
                <h3>Character, personality and style</h3>
                <p>Paul wrote a lot about the quality of a Christian leader’s character in his letters, with concrete implications for their personalities, as well as their life- and leadership styles. Values and norms played a pivotal part in Paul’s leadership thinking, and how this should impact leaders’ professional, personal and family lives. It still holds true for leaders today.</p>
                <h3>Calling and functions of ministry leaders</h3>
                <p>I next found that Paul was quite clear about what New Testament ministers should be able to do, i.e., his/her functions. To the apostle, all these functions were directly related to the gifts of the Holy Spirit, which all leaders necessarily received in order to lead and minister in a Christian setting.</p>
                <h3>Competencies all leaders need</h3>
                <p>The fourth dimension concerns the need for leaders to have a plethora of general leadership and management skills and competencies. These were all designed by God and these skills develop as leaders remain willing to grow to maturity. Our “Power-dressing” activities will attempt to find analogous similarities between the ancient and the modern – a marriage of sorts; hopefully the age difference is not too great and the couple will turn out to be compatible!</p>
                <h3>Core metaphor of Pauline leadership</h3>
                <p>The last drawer of our Pauline leadership cabinet concerns the core metaphor that should characterize a leader’s work. Pauline leaders possess a secret super-power; servanthood! We will share many clarifying thoughts from the 21st century, helping us on our way to become servant-leaders like Paul. We will also update our definition of leadership as we rummage through these drawers, one after the other.</p>
            </div>
            <div class="image">
                <img src="https://res.cloudinary.com/djkyfcfl1/image/upload/v1666949328/leadership_clarity/cabinet_pgv4pn.jpg" alt="Pauline_leadership_image">
            </div>
        </div>
    </section>
</div>
