<div>
    <section class="home-background">
        <h1>Leadership Clarity Program</h1>
        <div class="training-tile-container">
            <app-training-tile *ngFor="let tile of trainingTiles" [tile]="tile"></app-training-tile>
        </div>
    </section>
    <section class="pauline-section">
        <h2>Pauline Leadership Model</h2>
        <div class="details">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nobis sequi asperiores blanditiis vero? Minus dolor, earum rerum officia numquam, dolorum illum hic provident voluptates illo dolorem, qui dignissimos adipisci. Repellendus asperiores commodi illo dolores, deleniti tenetur dolor nesciunt quae beatae soluta modi exercitationem impedit earum ut error corporis dolore nisi quibusdam delectus porro quia iste velit saepe. Corporis obcaecati consequuntur animi maxime exercitationem nemo recusandae magni ea tempore. Temporibus fuga eius ex. Ipsa officia nisi nam tempora unde possimus delectus, sequi fuga numquam excepturi nobis accusantium ex expedita ipsam hic dolores ipsum? Minus voluptatem inventore, aliquam autem ex magni.</p>
            <div class="image">
                <img src="assets/pauline-cabinet.png" alt="Pauline_leadership_image">
            </div>
        </div>
    </section>
</div>
