.home-background {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: center / cover no-repeat;
    background-position: 50% 55%;
    height: 55vh;
    
    h1 {
        margin-top: 2rem;
        font-weight: 600;
        font-size: 2rem;
        color: #EBEBEB;
        filter: drop-shadow(2px 4px 6px black);
        text-align: center;
    }

    .training-tile-container {
        width: 80%;
        max-width: 48rem;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: -10rem;
        margin: 0 auto;

        app-training-tile {
            width: 30%;
            height: 15rem;
        }
    }
}

.pauline-section {
    max-width: 70rem;
    margin: 0 auto;
    position: relative;
    margin-top: 15rem;
    padding: 0 4rem;

    h2 {
        text-align: center;
        margin-bottom: 2rem;
    }

    p {
        line-height: 1.4;
        padding-right: 4rem;
    }

    .details {
        display: flex;
        align-items: center;
        margin-bottom: 4rem;

        p {
            flex: 1;
        }
        
        .image {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;

            img {
                object-fit: cover;
                max-height: 18rem;
            }
        }
    }
}

@media screen and (max-width: 720px) {
    .training-tile-container {
        flex-direction: column;
        bottom: unset !important;
        top: 70%;
        align-items: center;

        app-training-tile {
            width: 100% !important;
            max-width: 18rem;
            height: 18rem;
            margin-bottom: 0.6rem;
        }
    }

    .pauline-section {
        margin-top: 42rem;
        padding: 0 2rem;

        .details {
            flex-direction: column;

            p {
                padding: 0 !important;
                margin-bottom: 1rem;
            }
        }
    }
}