<div class="modal">
    <div class="header">
        <h3>{{ modalService.title }}</h3>
        <svg (click)="modalService.closeModal()" #close xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
            <path d="M5.72 5.72a.75.75 0 011.06 0L12 10.94l5.22-5.22a.75.75 0 111.06 1.06L13.06 12l5.22 5.22a.75.75 0 11-1.06 1.06L12 13.06l-5.22 5.22a.75.75 0 01-1.06-1.06L10.94 12 5.72 6.78a.75.75 0 010-1.06z"></path>
        </svg>
    </div>
    <div class="body">
      <div class="add-images-container">
        <form [formGroup]="addImagesForm" (ngSubmit)="onSubmit()">
          <div class="input-container">
            <input formControlName="images" type="file" multiple placeholder="Images" class="text-input" (change)="setImages($event)">
            <ng-container *ngIf="addImagesForm.get('images')?.touched">
              <span
                class="validation-error"
                *ngIf="addImagesForm.get('images')?.hasError('required')"
              >
                Atleast one image required
              </span>
            </ng-container>
          </div>
          <button class="btn add-btn" type="submit">
            <span *ngIf="loading">File {{ fileCount }} uploading...</span>
            <span *ngIf="!loading">Save</span>
          </button>
        </form>
      </div>
    </div>
  </div>
  
