/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    padding-top: 4.5rem;

    & * {
        font-family: 'Roboto', Arial;
    }
}

.master-container {
    position: relative;
    min-height: calc(100vh - 72px);
    padding-bottom: 252px;
}

@media screen and (max-width: 727px) {
    .master-container {
        padding-bottom: 466px;
    }
}

app-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.active-link {
    color: #CD2037;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border: 2px solid #CD2037;
    border-radius: 0.4rem;
    padding: 0.4rem 1.2rem;
    color: #CD2037;
    cursor: pointer;
    transition: box-shadow 300ms ease;

    &:hover {
        box-shadow: 0 0 10px #cd203769;
    }
}

.input-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.4rem;
}

.text-input {
    &:focus {
        border: 2px solid #CD2037;
    }
    &:last-of-type {
        margin-bottom: 0.8rem;
    }
    
    width: 100%;
    position: relative;
    transition: border 100ms ease;
    font-size: 0.9rem;
    outline: none;
    border: 2px solid #434343;
    border-radius: 0.2rem;
    line-height: 32px;
    padding: 0 0.4rem;
    background-color: #D9D9D9;
}

.validation-error {
    position: absolute;
    bottom: -0.2rem;
    font-size: 0.8rem;
    color: rgba(255, 0, 0, 0.822);
}

.modal {
    width: 20rem;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: #F3F3F3;
    box-shadow: 5px 5px 15px rgba(100, 100, 100, 0.5);

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #DCDCDC;
        padding: 0.6rem;

        svg {
            cursor: pointer;
        }
    }

    .body {
        padding: 1rem;
    }
}