.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn {
        &:hover {
            box-shadow: 0 0 10px #00c6387a;
        }

        background-color: transparent;
        border-color: #00C637;
        color: #00C637;
    }
}